*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    font-family:sans-serif;
    line-height: 1;
    background: none;
    color: inherit;
  }
  
  input,button,a {
    appearance: none;
    font: inherit;
  }

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    background-color: #ffb731;
    height: 70px;
    padding: 0 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    z-index: 999;
}

#carrinho {
    text-decoration: none;
    color: white;
    font-size: 30px;
    display: flex;
    gap: 10px;   
}

#carrinho:hover {
  color: #000000;
}

.content {
  width: 100vw;
  height: calc(100vh - 100px);
  position: fixed;
  top: 70px;
  z-index: 1;
}

.sidebar {
  position: fixed;
  top: 70px;
  left: 0px;
  background-color: rgb(212, 212, 212);
  width: 400px;
  height: calc(100vh - 70px);
  z-index: 2;
  padding: 20px;
}

.produtos {
  display: grid;
  position: fixed;
  top: 70px;
  left: 400px;
  width: calc(100vw - 400px);
  height: calc(100vh - 70px);
  grid-template-columns: 1fr 1fr 1fr;
  padding: 20px;
  gap: 10px;
  z-index: 1;
}

.adicionar {
  border-radius: 20px;
  width: 100px;
  height: 50px;
}

.produto {
  padding: 20px;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 300px;
  background-color: rgb(230, 230, 230);
  border: 2px solid rgb(192, 192, 192);
  border-radius: 30px;
  height: 500px;
}

.produto img {
  width: 300px;
  max-height: 350px;
  border: 1px solid black;
}

ul {
  list-style: none;
}

.sidebar ul li {
  font-size: 20px;
  margin-top: 10px;
  cursor: pointer;
}

.carrinhobox {
  display: none;
  flex-direction: column;
  width: 400px;
  height: 400px;
  background-color: rgb(255, 157, 0);
  position: fixed;
  z-index: 9999;
  right: 15px;
  top: 15px;
  border-radius: 30px;
  padding: 10px;
  border: 2px solid rgba(113, 113, 113, 0.507);
}

#fechar {
  position: fixed;
  top: 30px;
  right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  font-size: 30px;
  padding: 0px;
  margin: 0px;
  transform: rotate(45deg);
  cursor: pointer;
}

.itens {
  width: 100%;
  font-size: 20px;
}

#limpa {
  border-radius: 10px;
  width: 100px;
  height: 40px;
}

.final {
  position: fixed;
  top: 300px;
}

#comprar {
  position: fixed;
  right: 70px;
  top: 330px;
}